@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');

@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0bdbb6;
  --color-primary-dark: #0d0d0d;
}
*{
  font-family: "Inter", sans-serif,"Poppins";
}

button {
  cursor: pointer;
}